{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div style="width: 97%; margin-left:1.5%">
        {% for auction in auctions %}
        {{ counter.increment }}
           <div class="row auction">
               <div class="col-5">
                   <img src="{{auction.img_url}}" alt="">
               </div>
               <div class="col-7">
                   <h4 class="mt-3 mb-3">{{auction.title}}</h4>
                   {% if counter.price == 0 %}
                   <h6 class=""><span style="font-weight: bold">Price</span> {{auction.starting_bid}} $</h6>
                   {% else %}
                   <h6 class=""><span style="font-weight: bold">Price</span> {{counter.price}} $</h6>
                   {% endif %}
                   <p>{{auction.description}}</p>
                   <p class="text-muted">Created: {{auction.created}}</p>
                   <a class="btn btn-primary" href="{% url 'info' auction.id %}">Visit Item</a>
               </div>
           </div>
        {% endfor %}
    </div>
{% endblock %}