body {
    padding: 10px;
}


.auction{
    border: 1px solid grey;
    margin-bottom: 15px;
}
.auction img{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

.auction .col-5{
    height:250px
}